.btp-logicflow-drawer {
    display: flex;

    .el-drawer__header {
        margin: 0;
        padding: var(--el-drawer-padding-primary);
        border-bottom: 1px solid #e3e3e3;

        .btp-drawer__header--title {
            text-align: left;
        }
    }

    .el-drawer__body {
        padding: 0;

        .container {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;

            .app-container {
                width: 100%;
                height: 100%;

                .x6-widget-transform {
                    border: none;
                    border: 2px solid #5B84F2;
                    // margin: 0;
                    margin-top: -2px;
                    margin-left: -2px;
                    padding: 0;

                    .x6-widget-transform-resize {
                        width: 8px;
                        height: 8px;
                        border-color: #5B84F2;
                    }
                }

                .x6-widget-selection-box {
                    border: none;
                    box-shadow: none;
                    margin: 0;
                    padding: 0;
                }
            }

            .app-stencil {
                min-width: 300px;
                height: 100%;
                position: relative;

                .x6-widget-stencil {
                    background-color: #fff;
                }

                .x6-widget-stencil-title {
                    display: none;
                }

                .x6-widget-stencil-group-title {
                    padding: 0 12px;
                    text-align: left;
                }

                .x6-widget-stencil-group-content {
                    padding: 8px 12px;
                }
            }
        }
    }

    .el-drawer__footer {
        padding: var(--el-drawer-padding-primary);
        border-top: 1px solid #e3e3e3;
    }
}